@font-face {
    font-family: 'Rubik Maps';
    src: url(../font/RubikMaps-Regular.woff2') format('woff2'),
        url(../font/RubikMaps-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

