*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.container{
	max-width:1140px;
	margin:0px auto;
}


.box{
	width:300px;
	height:450px;
	background-color: #eda1de;
	margin:30px;
	float:left;
	position:relative;
}

.box .img img{
	width:100%;
	height:300px;
	float:left;
	padding:10px;
	position:absolute;
}

 .box button{ 
	background-color:white;
	font-size:20px;
	text-align:center;
	margin:70px;
	padding:10px;
	border-radius:30px;
	float:left;
	position:absolute;
	bottom:0;
	background-position:center;
}

.clear{
	clear:both;
}

button:focus{
	
	background-color:black;
	color:white;
}

.box:hover::after{
	position:absolute;
	content:'';
	width:300px;
	height:300px;
	background-color:rgba(206, 151, 219,0.5);
	top:0;
	left:0;
	transition:0.5s;
}


